/* Your CSS Styling */

/* Sticky footer styles
-------------------------------------------------- */

html {
	min-height: 100%;
}

body {
	overflow-y: scroll;
	padding-top: 70px;
	min-height: 100%;
}


.col-centered{
float: none;
margin: 0 auto;
}



/* for d3 

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
*/




/* Genericon social icon styles
---------------------------------------------------- */

