/* Your CSS Styling */

/* Sticky footer styles
-------------------------------------------------- */

html {
	min-height: 100%;
}

body {
	overflow-y: scroll;
	padding-top: 70px;
	min-height: 100%;
}


.col-centered{
float: none;
margin: 0 auto;
}



.jsontotable table, .jsontotable th, .jsontotable td {
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  padding: 5px;
}

code {
white-space: normal;
}

/*td{
    border:1px solid #000;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}

th{
    border:1px solid #000;
    width:1%;
    white-space:nowrap;    
}*/





/* for d3 

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
*/




/* Genericon social icon styles
---------------------------------------------------- */

