/* Your CSS Styling */

/* Sticky footer styles
-------------------------------------------------- */
body {
	overflow-y: scroll;
	padding-top: 70px;
}


.col-centered{
float: none;
margin: 0 auto;
}



/* 
div.slider-bars{
	height: 100%;
    overflow:scroll;
    overflow-x:hidden;
}
 */

/* Genericon social icon styles
---------------------------------------------------- */

