<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!-- 
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
 -->

    <!-- 	BOOTSTRAP CORE CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- 	REVEALJS CORE CSS -->
<!-- 
    <link href="{{ url_for('static', filename='vendor/components-revealjs/css/reveal.min.css') }}" rel="stylesheet">
 -->
    <!-- 	PAGE SPECIFIC CSS FILES -->
    {% block head %}{% endblock %}
    <!-- 	GENERICONS CORE CSS -->
    <link href="{{ url_for('static', filename='vendor/Genericons/genericons.css') }}" rel="stylesheet">
    <!-- 	CUSTOM STYLE CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


<!-- FOR MODAL -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>


	<!-- FIELD CHOOSE -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/fieldChooser/fieldChooser.min.js') }}"></script>
	<link href="{{ url_for('static', filename='vendor/fieldChooser/demo/stylesheets/jquery-ui.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='vendor/fieldChooser/demo/stylesheets/style.css') }}" rel="stylesheet">



    <title>RxFx</title>



  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span>RxFx</span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="drug_comparisons">Compare Drugs</a></li>
            <li><a href="analytics">Analytics</a></li>
            <li><a href="slides">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Main content injection point -->
    <!-- Within the content block, wrap content with <div id="wrap"><div>
          when using the footer block to push the footer down. -->
    {% block content %}{% endblock %}

    <!-- The footer is placed within its own block to render properly -->
    {% block footer %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- DOES NOT LET MULTISELECT WORK, BUT IS NEEDED FOR MODAL; MOVING IT TO RXFX.HTML DOES FIX THE ISSUE -->
<!-- 
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
 -->

	<script type="text/javascript">
	$(function (){
	$('[data-toggle="modal"]')
	.popover({trigger: 'click', html: 'true', placement: "bottom"})
	.click(function(e) {e.preventDefault();});
	});
	</script>




	
    <!-- Page specific script files -->
    {% block scripts %}{% endblock %}

    <script type="text/javascript">
      // Dynamically add the bootstrap 'active' class to navbar links.
      $(document).ready(function($){
        var urlPath = window.location.pathname.split('/')[1];
          $('.nav a[href="'+ urlPath +'"]').parent().addClass('active');
      });
    </script>

  </body>
</html>
