{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="starter-template">
        <h1>RxFx</h1>
        <p class="lead"> Prescription Drug Side Effects </p>
        <p>Compare different Rx side effects</p>

	<form method=post action="{{ url_for('drug_comparisons') }}" >

	<div class="row">
<!-- 	INDICATION LIST		 -->	
		<div class="col-xs-6"><dl>
		<dt><p>Indication:</p></dt>
		<select name="indication">
			
			{% for i in range(0, (indications|length) ) %}
			
			<option value="{{indications[i]}}" 
				{% if indication == "indications[i]" %} selected {% endif %}
				> "{{indications[i]}}" </option>
			
			{% endfor %}
		</select>
		<input type=submit value=Search>
		</dl></div>	
	
<!-- 	DRUG LIST		 -->
	<div class="col-xs-6">
		<dl><dt><p>Rx: {{ current_indication }} </p></dt>
			<select class="btn-group" multiple="multiple" title='Choose up to 5 of the following...' size=10>
			{% for i in range(0, (druglist|length) ) %}
				<option>"{{druglist[i]}}"</option>
			{% endfor %}
			</select>
		</select>
		</dl></div>	
	</div>

	</form>

	</div>


<div class="btn-group" />.
<script type="text/javascript">
  $(document).ready(function() {
    $('.multiselect').multiselect({
      buttonContainer: '<span class="dropdown" />'
    });
  });
</script>
</div>
	
	
	
	
    </div>
  </div>
</div>

<img src="static/images/equipment_jarock.jpg" alt="Image Placeholder" height="800">


{% endblock %}


{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
