{% extends "layout/base.html" %}


<script>
 




{% block content %}



<script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>

<!-- 	BOOTSTRAP SELECT CSS -->
<!-- 	this file needed for drop down selector -->
<script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap-select.js') }}"></script>    

<!-- 	BOOTSTRAP SELECT CSS -->
<link rel="stylesheet" type="text/css" href="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap-select.css') }}">



<script type="text/javascript">
  // Dynamically add the bootstrap 'active' class to navbar links.
  $(document).ready(function($){
	var urlPath = window.location.pathname.split('/')[1];
	  $('.nav a[href="'+ urlPath +'"]').parent().addClass('active');
  });
</script>
<script>
$(function (){
$('[data-toggle="modal"]')
.popover({trigger: 'click', html: 'true', placement: "bottom"})
.click(function(e) {e.preventDefault();});
});
</script>







<script type="text/javascript">
	$(window).on('load', function () {

		$('.selectpicker').selectpicker({
		});

		$('.selectpicker').selectpicker('hide');
	});
</script>



  <div id="wrap">
    <div class="container">
      <div class="starter-template">
        <h1>RxFx</h1>
        <p class="lead"> Prescription Drug Side Effects </p>
        <p>Compare different Rx side effects</p>


	<form method=post action="{{ url_for('drug_comparisons') }}" >

	<div class="row">
<!-- 	INDICATION LIST		 -->	
	<div class="col-xs-5 col-md-5 col-lg-5">

		<div class="row">
			<dt><p>Indication:</p></dt>
			<select name="indication">
			
				{% for i in range(0, (indications|length) ) %}
			
				<option value="{{indications[i]}}" 
					{% if indications[i] == current_indication %} selected {% endif %}
					> "{{indications[i]}}" </option>
			
				{% endfor %}
			</select>
			<input type=submit value=Search>
		</div>	
	
	</div>
	</div>
		

	<!~~ Add the extra clearfix for only the required viewport ~~>
	<div class="clearfix visible-xs"></div>
	<div class="row"></div>

	<div class="row">
	<div class="col-xs-5 col-md-5 col-lg-5">



	<!-- 	DRUG LIST		 -->
		<div class="row">
			<dt><p>Rx: {{ current_indication }} </p></dt>



			{% for i in range(0, (druglist|length), 3 ) %}
				{% for j in range(0, 1) %}
					{% set k=i+j %}
					{% if druglist > k %}
						<div class=row>
							<div class="col-xs-4 col-md-4 col-lg-4">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="drugs_selected" value="{{ druglist[k] }}">
										{{ druglist[k] }}
									</label>
								</div>
							</div>
							{% if (druglist|length) > k+1 %}
							<div class="col-xs-4 col-md-4 col-lg-4">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="drugs_selected" value="{{ druglist[k+1] }}">
										{{ druglist[k+1] }}
									</label>
								</div>
							</div>
							{% endif %}
							{% if (druglist|length) > k+2 %}
							<div class="col-xs-4 col-md-4 col-lg-4">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="drugs_selected" value="{{ druglist[k+2] }}">
										{{ druglist[k+2] }}
									</label>
								</div>
							</div>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}	
			{% endfor %}	

			<input type=submit value=Search>

		</div>	
	</form>
	</div>
	
	
	<div class="col-xs-5 col-md-5 col-lg-5"><dl>

		FIGURE HERE
	
	</div>
	
	</div>




	<!~~ Add the extra clearfix for only the required viewport ~~>
	<div class="clearfix visible-xs"></div>






	<select id="id_select" class="selectpicker" multiple data-live-search="true">
		<option>cow</option>
		<option>bull</option>
		<option>ASD</option>
		<option>Bla</option>
		<option>Ble</option>
	</select>




	
	
    </div>
  </div>
</div>



{% endblock %}











{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}