{% extends "layout/base.html" %}


<script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>

<!-- 	BOOTSTRAP SELECT CSS -->
<!-- 	this file needed for drop down selector -->
<script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap-select.js') }}"></script>    

<!-- 	BOOTSTRAP SELECT CSS -->
<link rel="stylesheet" type="text/css" href="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap-select.css') }}">

{% block content %}


<script type="text/javascript">
  // Dynamically add the bootstrap 'active' class to navbar links.
  $(document).ready(function($){
	var urlPath = window.location.pathname.split('/')[1];
	  $('.nav a[href="'+ urlPath +'"]').parent().addClass('active');
  });
</script>


  <div id="wrap">
    <div class="container">
      <div class="starter-template">

	<div class="row">
	<div class="col-xs-5 col-md-5 col-lg-5">

        <h1>RxFx</h1>
        <p class="lead"> Prescription Drug Side Effects </p>
        <p>Compare different Rx side effects</p>


	<form method=post action="{{ url_for('drug_comparisons') }}" >

	<div class="row">
<!-- 	INDICATION LIST		 -->	
	<div class="col-xs-5 col-md-5 col-lg-5">

		<div class="row">
			<dt><p>Indication:</p></dt>
			<select name="indication">
			
				{% for i in range(0, (indications|length) ) %}
			
				<option value="{{indications[i]}}" 
					{% if indications[i] == current_indication %} selected {% endif %}
					> "{{indications[i]}}" </option>
			
				{% endfor %}
			</select>
			<input type=submit value=Search>
		</div>	
	
	</div>
	</div>
		

	<!~~ Add the extra clearfix for only the required viewport ~~>
	<div class="clearfix visible-xs"></div>




	<!-- 	DRUG LIST		 -->
		<div class="row">
			

			{% for i in range(0, (druglist|length), 3 ) %}
				{% for j in range(0, 1) %}
					{% set k=i+j %}
					{% if druglist > k %}
						<div class=row>
							<div class="col-xs-4 col-md-4 col-lg-4">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="drugs_selected" value="{{druglist[k]}}"
										{% if druglist[k] in drug_selection %} checked {% endif %} >
										{{ druglist[k] }}
									</label>
								</div>
							</div>
							{% if (druglist|length) > k+1 %}
							<div class="col-xs-4 col-md-4 col-lg-4">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="drugs_selected" value="{{ druglist[k+1] }}"
										{% if druglist[k+1] in drug_selection %} checked {% endif %}>
										{{ druglist[k+1] }}
									</label>
								</div>
							</div>
							{% endif %}
							{% if (druglist|length) > k+2 %}
							<div class="col-xs-4 col-md-4 col-lg-4">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="drugs_selected" value="{{ druglist[k+2] }}"
										{% if druglist[k+2] in drug_selection %} checked {% endif %}>
										{{ druglist[k+2] }}
									</label>
								</div>
							</div>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}	
			{% endfor %}	
			{{drug_selection}}

		</div>	
	</div>
	
	
	<div class="col-xs-7 col-md-7 col-lg-7">
			
		{% if (drug_selection|length) > 4 %} 
		PLEASE LIMIT THE NUMBER OF DRUGS SELECTED TO 4
		{% else %}
			<!-- SINGLE PLOT FIGURE --> 
			<img class="img-responsive img-rounded" 
			src="{{ url_for('multi_effect_png', current_indication=current_indication, drug_selection=drug_selection) }}" style="margin-left:auto margin-right:auto" />
		{% endif %}	
		
	</div>
	
	</div>
	</form>


	
    </div>
  </div>
</div>



{% endblock %}











{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}