{% extends "layout/base.html" %}

<!-- 
FOR MODAL    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>


	FIELD CHOOSE    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/fieldChooser/fieldChooser.min.js') }}"></script>
 -->



{% block content %}





<div class="container">
    <h1>RxFx</h1>
	<p class="lead"> Prescription Drug Side Effects </p>
	<p>Get recommended Rx based on personalized tolerance/intolerance of side effects</p>
</div>


{{ ranked_side_effect_list  }}
{{ current_indication }}
		

<!-- MODAL BUTTON-->
<!-- <div class="container">
	<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
		Details
	</button>
</div>
 -->

<!-- MODAL -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		
		<div class="modal-content">
	  		
	  		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{{ recommendation }}</h4>
	  		</div>
		 

			<div class="modal-body">
				<div class=container >

			
				</div>
			</div>
	  		
	  		<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

		</div>
  	</div>
</div> -->



<!-- GET RECOMMENDATION BUTTON -->
<div class="container">
	<button onclick="fetchDestinationFields()">Find Recommendation</button>
</div>
<!-- FIELD CHOOSER FIELDS -->
<div class="container">
	<div id="output"></div>
		<div id="fieldChooser">
			<div id="sourceFields">
				{% for i in range(0, (side_effect_names|length) ) %}
					<div>{{ side_effect_names[i] }}</div>
				{% endfor %}
			</div>
			<div id="destinationFields">

			</div>
		</div>
	</div>
</div>









{% endblock %}


{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
