{% extends "layout/base.html" %}


{% block content %}


<div class="container">
    <!-- PAGE HEADER -->
    <h1>RxFx</h1>
	<p class="lead"> Prescription Drug Side Effects </p>
	<h5>Get recommended Rx based on personalized tolerance/intolerance of side effects</h5>

		<form method=post action="{{ url_for('RxFx') }}" >
			<div class="container">

				<!-- 	INDICATION DROPDOWN	ROW	 -->	
				<div class="row">
					<dt><center><p>What are you taking a prescription for?</p></dt></center>
					<center><select name="indication">

						{% for i in range(0, (indications|length) ) %}
							<option value="{{indications[i]}}" 
								{% if indications[i] == indication %} selected {% endif %}
								> "{{indications[i]}}" </option>			
						{% endfor %}

					</select></center>
					<center><input type=submit value=Search style="background-color: #B2CCFF"></center>
				</div>	
			</div>
		</form>
	</div>
</div>



{% endblock %}


{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
